*.bak*
.useCases.vpp.lck
*.vs
*.vscode
Weezer-Tower-Defence/Content
Weezer-Tower-Defence-Editor/Properties
Weezer-Tower-Defence/Content/
Weezer-Tower-Defence - Copy
Weezer-Tower-Defence-Editor - Copy/
CLAUDE.md
РАФТ